/* .image-swiper-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  

  .image-swiper-swipe {
    position: absolute;

    .image-swiper-card {
      transition: 1.5s ease-in-out;
      position: relative;
      background-color: #fff;
      width: 400px;
      height: 600px;
      box-shadow: 0px 0px 20px 0px rgb(247, 217, 217);
      border-radius: 25px;
      background-size: cover;
      background-position: center;

      h3 {
        position: absolute;
        text-align: center;
        bottom: 0;
        margin: 10px;
      }
    }
  }
}

.hidden-block {
  display: none;
}


@media (max-width: 1400px) {
  .image-swiper-card {
    width: 300px !important;
    height: 450px !important;
  }

  .image-swiper-container {
    width: 300px !important;
    height: 450px !important;
  }
}

@media (max-width: 1000px) {
  .image-swiper-card {
    width: 400px !important;
    height: 600px !important;
  }

  .image-swiper-container {
    width: 450px !important;
    height: 650px !important;
  }
}

@media (max-width: 500px) {
  .image-swiper-card {
    width: 300px !important;
    height: 450px !important;
  }

  .image-swiper-container {
    width: 350px !important;
    height: 500px !important;
  }
} */

.container {
  cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
    auto;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.deck {
  position: absolute;
  width: 300px;
  height: 200px;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

.deck > div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 450px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(172, 172, 205, 0.4), 0 10px 10px -10px rgba(255, 255, 255);
}


@media (max-width: 1200px) {
  .deck > div {
    width: 300px !important;
    height: 450px !important;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 300px !important;
    height: 450px !important;
  }
}