.project-section-screen-wrapper {
  height: fit-content;

  .project-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: 2s ease-in;
  
    .project-section-title-box {
      h1 {
        margin-top: 50px;
        color: white
      }
    }
  
    .project-section-content {
      width: 100%;
  
      .project-section-card {
        width: 340px;
        height: 500px;
        border-radius: 10px;
        margin: 30px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  
        .project-section-card-img {
          width: 100%;
          max-height: 300px;
          height: 200px;
        }
  
        .project-section-card-details {
          width: 100%;
          color: white;
          h1 {
            font-size: 1.6rem;
            text-align: center;
          }
  
          p {
            font-size: 1.3rem;
          }
        }
        
        .project-section-card-button-group {
          display: flex;
          gap: 20px;

          .project-section-card-button-icon {
            width: 20px;
            height: 20px;
          }
        }
      }
  
      .project-section-card:hover {
        transform: scale(1.1) !important;
      }
    }
  }
}