.techstacks-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  height: 100%;
  transition: 2s ease-in;

  .techstacks-section-title-box {
    h1 {
      color: white
    }
  }

  .techstacks-section-grid-container {
    max-width: 1300px;

    .techstacks-section-grid-item {
      width: 100px;
      height: 100px;
      margin: 20px;
      border-radius: 25%;

      .techstacks-section-grid-img {
        width: 70px;
        height: 70px;
      }
    }
  }
}