.navbar-onscroll {
    backdrop-filter: blur(5px) !important;
    box-shadow: 0px 10px 10px 0px rgba(5, 2, 29, 0.917) !important;
    background-color: rgba(21, 4, 54, 0.891) !important;
}

.navbar {
    width: 100%;
    height: 10vh;
    transition: 0.25s ease-out;
    background-color: transparent;
    top: 0;
    position: sticky !important;
    padding: 2% 8% !important;

    .navbar-toolbox {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .navbar-responsive {
            height: fit-content;
        }

        .brand-logo {
            font-weight: bolder;
            font-size: 1.5rem;
            color: white;
            margin-bottom: 15px;
        }

        .navbar-menu-icon {
            display: none;
        }

        .navbar-menu-label {
            display: none;
        }

        .navbar-links {
            display: flex;
            justify-content: space-between;
            width: 600px;
            margin-bottom: 0 !important;
            padding-left: 0 !important;

            .navbar-links-unshow {}

            .navbar-links-show {}

            .navbar-link {
                position: relative;
                width: fit-content;
                display: flex;
                align-items: center;
                height: 100%;
                transition: 0.25ms ease-out;
                justify-content: center;

                .navbar-link-text {
                    color: rgb(211, 182, 182);
                    text-decoration: none;
                    margin-right: 5px;
                    margin-bottom: 15px;
                }

                .navbar-link-logo {
                    width: 18px;
                    height: 18px;
                    margin-right: 5px;
                    margin-bottom: 12px;
                }
            }
        }
    }
}

#menu-button {
    display: none;
}

.navbar-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.25s ease-out;
}

.navbar-link:hover::before {
    width: 100%;
}

@media (max-width: 1000px) {
    .navbar {
        box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
        background-color: rgba(62, 20, 91) !important;
        height: fit-content;
        padding: 3% 8% !important;
    }

    .brand-logo {
        font-size: 2rem;
    }

    .navbar-menu-label {
        display: block !important;
        width: 30px;
        height: 30px;
    }

    .navbar-menu-icon {
        display: block !important;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .navbar-responsive {
        width: 100%;
        height: fit-content !important;
        display: flex;
        justify-content: space-between;
    }

    .navbar-toolbox {
        flex-direction: column;
        height: fit-content !important;
    }

    .navbar-links {
        width: 100% !important;
        justify-content: center !important;
        flex-direction: column !important;
        padding-left: 0px !important;
        align-items: center;
        opacity: 1;
        transition: 2s ease-out !important;
    }

    .navbar-links-unshow {
        // -webkit-transform:translateY(-200%);
        // -moz-transform:translateY(-200%);
        // transform:translateY(-150%);
        // -webkit-transition: all 0.5s ease-in-out;
        // -moz-transition: all 0.5s ease-in-out;
        // transition: all 0.5s ease-in-out;
        display: none !important;
    }

    .navbar-links-show {
        // opacity: 1;
        // -webkit-transform:translateY(0px);
        // -moz-transform:translateY(0px);
        // transform:translateY(0px);
        // -webkit-transition: all 0.5s ease-in-out;
        // -moz-transition: all 0.5s ease-in-out;
        // transition: all 0.5s ease-in-out;
    }

    .navbar-link {
        width: 100% !important;
        margin-right: 50px !important;
        margin-left: 50px !important;
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }

    .navbar-link-text {
        font-size: 1.2rem !important;
    }
}
