.navbar-basepage {
  z-index: 2;
}

.particle-basepage {
  z-index: 0;
}

.basepage-children {
  height: fit-content;
  gap: 50px !important;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  z-index: 1;
}

@media (max-width: 1000px) {
  .basepage-children {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }

  .basepage-children:last-child {
    margin-bottom: 50px !important;
  }
}