.welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .welcome-section-child {
    height: 100%;
  }

  .welcome-section-text {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.25s ease-in;

    p,
    .welcome-section-p {
      color: white;
      font-size: 3rem;
    }
  }

  .welcome-section-asset {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    .welcome-section-asset-img {
      width: 90%;
    }
  }
}

@media (max-width: 1250px) {
  .welcome-section-text {

    p,
    .welcome-section-p {
      font-size: 2.8rem !important;
    }
  }
}

@media (max-width: 1000px) {
  .welcome-section {
    flex-direction: column !important;
    height: fit-content !important;
    gap: 50px;
  }

  .welcome-section-child {
    width: 90% !important;
  }

  .welcome-section-text {

    p,
    .welcome-section-p {
      font-size: 2.3rem !important;
    }
  }
}

@media (max-width: 600px) {
  .welcome-section-text {
    p, .welcome-section-p {
      font-size: 1.8rem !important;
    }
  }
}

@media (max-width: 450px) {
  .welcome-section-text {

    p,
    .welcome-section-p {
      font-size: 1.5rem !important;
    }
  }
}