.screen-wrapper {
  height: 90vh;
  width: 100vw;
  scroll-snap-align: start;
}

@media (max-width: 1000px) {
  .screen-wrapper {
    height: fit-content !important;
  }

  .screen-wrapper:last-child {
    margin-bottom: 50px;
  }
}

// @media (max-width: 800px) {
//     .screen-wrapper {
//         margin-top: 14vh !important;
//     }
// }

// @media (max-width: 450px) {
//     .screen-wrapper {
//         margin-top: 11vh !important;
//     }

// }