.about-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  width: 100%;
  height: 100%;

  .about-section-info {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    .about-section-text {
      width: 65%;
      display: flex;
      padding: 2% 7%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: 0.25s ease-in;
  
      h1 {
        color: rgb(224, 171, 171);
        font-size: 3rem;
      }
  
      p {
        color: rgb(224, 171, 171);
        font-size: 1.8rem;
      }

      .quote {
        text-align: center;
      }
    }
  
    .about-section-asset {
      width: 35%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
  
      .about-section-asset-img {
        width: 80%;
      }
    }
  }
}

@media (max-width: 1400px) {
  .about-section-text {
    p {
      font-size: 1.1rem !important;
    }
  }
}

@media (max-width: 1000px) {
  .about-section {
    gap: 50px;
  }

  .about-section-info {
    flex-direction: column !important;
    height: fit-content !important;
    gap: 50px;
  }

  .about-section-child {
    width: 90% !important;
  }

  .about-section-text {
    h1 {
      font-size: 2rem !important;
    }

    p {
      font-size: 1.5rem !important;
    }
  }

  .about-section-contact {
    h1 {
      font-size: 1.5rem !important;
    }
  }
}

@media (max-width: 450px) {
  .about-section-text {

    h1 {
      font-size: 1.2rem !important;
    }

    p {
      font-size: 0.8rem !important;
    }
  }

  .about-section-asset

  .about-section-contact {
    h1 {
      font-size: 1rem !important;
    }
  }
}